:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #e9e4df;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.6;
  overflow-x: hidden; /* Evitar rolagem horizontal */
  min-height: 100vh;
}
